In [1]:
import pandas as pd

data = {
    'CreditScore': [650, 720, 580, 680, 710, 600, 770, 690, 630, 740],
    'Age': [40, 34, 52, 29, 45, 37, 55, 48, 41, 50],
    'Tenure': [5, 7, 10, 3, 12, 2, 15, 9, 6, 11],
    'Balance': [12000, 0, 45000, 9000, 78000, 3000, 150000, 65000, 20000, 90000],
    'NumOfProducts': [1, 2, 1, 2, 3, 1, 2, 2, 1, 2],
    'EstimatedSalary': [55000, 43000, 72000, 39000, 54000, 31000, 110000, 58000, 45000, 99000],
    'Satisfaction Score': [4, 3, 2, 5, 4, 3, 4, 3, 4, 5],
    'Point Earned': [100, 150, 50, 200, 90, 70, 300, 120, 80, 250],
    'CreditCategory': ['Good', 'Excellent', 'Fair', 'Good', 'Excellent', 'Fair', 'Excellent', 'Good', 'Fair', 'Excellent'],
    'Geography': ['France', 'Germany', 'Spain', 'France', 'Germany', 'Spain', 'Germany', 'France', 'Spain', 'Germany'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Card Type': ['GOLD', 'PLATINUM', 'SILVER', 'DIAMOND', 'GOLD', 'SILVER', 'PLATINUM', 'GOLD', 'SILVER', 'DIAMOND']
}

df = pd.DataFrame(data)

# Save to CSV
df.to_csv('bank_data.csv', index=False)

print("CSV file 'bank_data.csv' has been generated successfully.")

CSV file 'bank_data.csv' has been generated successfully.

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

df_telco = pd.DataFrame({
    "gender": np.random.choice(["Male", "Female"], 200),
    "SeniorCitizen": np.random.choice([0,1], 200),
    "Partner": np.random.choice(["Yes","No"], 200),
    "Dependents": np.random.choice(["Yes","No"], 200),
    "tenure": np.random.randint(1, 72, 200),
    "PhoneService": np.random.choice(["Yes","No"], 200),
    "MultipleLines": np.random.choice(["Yes","No","No phone service"], 200),
    "InternetService": np.random.choice(["DSL","Fiber optic","No"], 200),
    "OnlineSecurity": np.random.choice(["Yes","No"], 200),
    "OnlineBackup": np.random.choice(["Yes","No"], 200),
    "DeviceProtection": np.random.choice(["Yes","No"], 200),
    "TechSupport": np.random.choice(["Yes","No"], 200),
    "StreamingTV": np.random.choice(["Yes","No"], 200),
    "StreamingMovies": np.random.choice(["Yes","No"], 200),
    "Contract": np.random.choice(["Month-to-month","One year","Two year"], 200),
    "PaperlessBilling": np.random.choice(["Yes","No"], 200),
    "PaymentMethod": np.random.choice(["Electronic check","Mailed check","Bank transfer (automatic)","Credit card (automatic)"], 200),
    "MonthlyCharges": np.random.uniform(20, 120, 200).round(2),
    "TotalCharges": np.random.uniform(20, 8000, 200).round(2),
    "Churn": np.random.choice(["Yes","No"], 200)
})

df_telco.to_csv("telco_test_sample.csv", index=False)
df_telco.head()

   gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0    Male              0      No        Yes      30           No
1  Female              1      No         No      17          Yes
2    Male              0     Yes         No      62           No
3    Male              0     Yes         No      13          Yes
4    Male              1      No        Yes      59           No

      MultipleLines InternetService OnlineSecurity OnlineBackup  \
0                No             DSL            Yes          Yes
1                No             DSL            Yes           No
2  No phone service              No            Yes          Yes
3                No     Fiber optic             No          Yes
4               Yes              No             No           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No         Yes          No             Yes  Month-to-month
1               No          No         Yes             Yes        One year
2               No         Yes          No              No  Month-to-month
3               No         Yes         Yes             Yes        One year
4              Yes          No         Yes              No        One year

  PaperlessBilling            PaymentMethod  MonthlyCharges  TotalCharges  \
0              Yes  Credit card (automatic)           70.84       3620.89
1              Yes  Credit card (automatic)           49.75       7880.22
2               No         Electronic check           76.50       6180.66
3              Yes         Electronic check           88.89        236.80
4               No             Mailed check          107.33        540.33

  Churn
0   Yes
1    No
2   Yes
3    No
4    No

In [8]:
df_telco.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Male,0,No,Yes,30,No,No,DSL,Yes,Yes,No,Yes,No,Yes,Month-to-month,Yes,Credit card (automatic),70.84,3620.89
1,Female,1,No,No,17,Yes,No,DSL,Yes,No,No,No,Yes,Yes,One year,Yes,Credit card (automatic),49.75,7880.22
2,Male,0,Yes,No,62,No,No phone service,No,Yes,Yes,No,Yes,No,No,Month-to-month,No,Electronic check,76.50,6180.66
3,Male,0,Yes,No,13,Yes,No,Fiber optic,No,Yes,No,Yes,Yes,Yes,One year,Yes,Electronic check,88.89,236.80
4,Male,1,No,Yes,59,No,Yes,No,No,No,Yes,No,Yes,No,One year,No,Mailed check,107.33,540.33

In [4]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Satisfaction Score,Point Earned,CreditCategory,Geography,Gender,Card Type
0,650,40,5,12000,1,55000,4,100,Good,France,Female,GOLD
1,720,34,7,0,2,43000,3,150,Excellent,Germany,Male,PLATINUM
2,580,52,10,45000,1,72000,2,50,Fair,Spain,Female,SILVER
3,680,29,3,9000,2,39000,5,200,Good,France,Male,DIAMOND
4,710,45,12,78000,3,54000,4,90,Excellent,Germany,Female,GOLD
5,600,37,2,3000,1,31000,3,70,Fair,Spain,Male,SILVER
6,770,55,15,150000,2,110000,4,300,Excellent,Germany,Female,PLATINUM
7,690,48,9,65000,2,58000,3,120,Good,France,Male,GOLD
8,630,41,6,20000,1,45000,4,80,Fair,Spain,Female,SILVER
9,740,50,11,90000,2,99000,5,250,Excellent,Germany,Male,DIAMOND

In [9]:
df_telco.to_csv("telco_test_sample.csv", index=False)